a {
    text-decoration: none;
}
.page-header {
    padding: 0.6rem 0;
    background-color: none;
    position: absolute;
    top: .5rem;
    width: 100%;
  }
  .nav-menu {
      display: flex;
      align-items: center;
    .logo-wrap {
        justify-content: center;
        align-items: center;
        i {
            color: #fff;
        }
    }  
    .logo-container {
        width: 3rem;
        img {
            width: 100%;
        }
    }  
  } 
  .sub-menu-box {
    position: relative;
    i {
        font-size: 1rem;
        color: rgb(8, 28, 54);
    }
    .dots-container {
        // vertical-align: middle;
        i {
            font-size: 3rem;
            color: white;
        }
    }
    .sub-menu {
        position: absolute;
        background-color: aliceblue;
        width: 20rem;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        left: 10rem;
        transform: translate(-50%);
        display: none;
        top: 4.3rem;
        z-index: 99;
        border-radius: 7px;
        li {
           padding: 1rem;
           text-align: start;
           border-bottom: .5px solid rgb(209, 207, 207);
           &:last-child {
               border-bottom: none;
           }
           a {
               font-size: 1.2rem;
               color: rgb(32, 32, 32);
                &:hover {
                    color: crimson;
                }
           } 
        }
      }
      .sub-menu-2 {
       top: 3.5rem;
       left: 9rem;
      }
  }

  .sub-menu::before {
    content: "";
    height: 2rem;
    width: 2rem;
    background-color: aliceblue;
    position: absolute;
    z-index: -99;
    transform: rotate(45deg);
    top: -1rem;
    left: 2.8%;
  }
  .sub-menu-2::before {
    left: 7.8%;
  }
  .sub-menu-box:hover .sub-menu {
    display: flex;
    justify-content: space-evenly;
  }
  .sub-menu-box:hover .sub-menu-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
.bars, #toggle {
    display: none;
}
.search-container {
    width: 30%;
    height: 3rem;
    border-radius: 2rem;
    background: white;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
    input {
        width: 100%;
        outline: none;
        border: none;
        height: 100%;
        font-size: 1rem;
    }
}


// HERO SECTION STYLES

.hero {
    height: 80vh;
}
