//Card

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.card{
    display: grid;
    align-content: space-between;
    max-width: 300px;
    height: 300px;
    // background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../media/lisbon.jpg) center center no-repeat;
    
    background-size: cover;
    border-radius: .5rem;
     padding: .5rem .8rem;
    color:white;
    position: relative;
    
     .overlay {
         display: none;
     }
    
     
    .popularity {
        display: inline-block;
        background-color: #fff;
        padding: .3rem;
        border-radius: .3rem;
        font-size: .7rem;
        font-weight: 500;
        color: black;
    }
    .connectivity {
        // background-color: navy;
        i {
            margin-right: .3rem;
        }
        .data-speed {
            .speed {
               font-size: 1.3rem;
               font-weight: 600;
               margin-bottom: .2rem;
            }
            small {
                font-size: .8rem;
            }
        }
    }
    
    .place-details {
        justify-self: center;
        h3 {
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: 0;
        }
    }

    .footer {
        // background-color: navy;

        .climate {
            // background-color: red;
            i {
                margin-right: .4rem;
            }
            .temperature {
                small {
                    font-size: .7rem;
                }
                span {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            }

            .emoji {
                span {
                margin: 0 .3rem;
                }
            }

            .aqi {
                small {
                    font-size: .7rem;
                }
            }

            
            
        }
        .expense {

            h5 {
                font-size: 1.2rem;
                font-weight: 600;
            }

            h5::before {
                content: "$";
            }

            h5::after {
                content: "/ mo";
                font-size: 1rem;
                margin-left: .3rem;
            }
        }
    }

    &:hover .footer {
        display: none;
    }

    &:hover .place-details {
        display: none;
    }

    &:hover header {
        display: none;
    }

    &:hover .overlay{

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        height: 0;

        background-color: red;

    }

    
}

 

