.jobs-container {
  max-width: 1040px;
  margin: 0 auto;
  width: 100%;
}

.jobs-body {
  background-color: #f9f9f9;
  padding-bottom: 2rem;
}

.jobs-h2, .jobs-li, .jobs-banner {
  text-align: center;
}

.jobs-h2 {
  font-size: 3.5rem;
  color: #FE4641;
  font-weight: 700;
}

.jobs-li {
  margin: 0 0.8rem;
  a {
    text-transform: uppercase;
    color: black;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 2rem;
  }
}

.jobs-partners-text {
 margin-right: 1rem;
 font-size: 0.6rem;
 color: gray;
}

.partners-logos img {
  margin-top: 2rem;
  width: 70%;
  object-fit: cover;
  filter: grayscale(80);
}

.jobs-listing {
  margin-top: 2rem;
  .jobs-listing-heading-one {
    padding: 1.4rem;
    border: 0.1rem solid rgb(209, 209, 209);
    border-radius: 0.4rem;
    max-width: 1040px;
    background-color: rgb(201, 200, 200);
    a {
      color: #0F1116;
      font-weight: 700;
      img {
        width: 10%;
      }
    }
    .jobs-listing-btn {
      padding: 0.7rem 1.8rem;
      background-color: #5BC6C6;
      color: #fff;
      border: none;
      font-weight: 700;
      font-size: 0.9rem;
      border-radius: 0.6rem;
      margin-left: 0.4rem;
    }
    .jobs-listing-content {
      h4, p {
        color: #0F1116;
        text-align: left;
      }
      h4 {
        font-weight: 600;
        font-size: 1.8rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      p {
        font-weight: 400;
      }
    }
  }
  .jobs-listing-heading-two {
    padding: 1.4rem;
    border: 0.1rem solid rgb(209, 209, 209);
    border-radius: 0.4rem;
    max-width: 1040px;
    background-color: #e2d5cf;
    a {
      color: #0F1116;
      font-weight: 700;
      img {
        width: 10%;
      }
    }
    .jobs-listing-btn {
      padding: 0.7rem 1.8rem;
      background-color: #F26626;
      color: #fff;
      border: none;
      font-weight: 700;
      font-size: 0.9rem;
      border-radius: 0.6rem;
      margin-left: 0.4rem;
    }
    .jobs-listing-content {
      h4, p {
        color: #0F1116;
        text-align: left;
      }
      h4 {
        font-weight: 600;
        font-size: 1.8rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      p {
        font-weight: 400;
      }
    }
  }
  .jobs-listing-heading-three {
    padding: 1.4rem;
    border: 0.1rem solid rgb(209, 209, 209);
    border-radius: 0.4rem;
    max-width: 1040px;
    background-color: #79DBF2;
    a {
      color: #0F1116;
      font-weight: 700;
      img {
        width: 10%;
      }
    }
    .jobs-listing-btn {
      padding: 0.7rem 1.8rem;
      background-color: black;
      color: #fff;
      border: none;
      font-weight: 700;
      font-size: 0.9rem;
      border-radius: 0.6rem;
      margin-left: 0.4rem;
    }
    .jobs-listing-content {
      h4, p {
        color: #0F1116;
        text-align: left;
      }
      h4 {
        font-weight: 600;
        font-size: 1.8rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      p {
        font-weight: 400;
      }
    }
  }
  .jobs-listing-heading-four {
    padding: 1.4rem;
    border: 0.1rem solid rgb(209, 209, 209);
    border-radius: 0.4rem;
    max-width: 1040px;
    background-color: #fff;
    a {
      color: #0F1116;
      font-weight: 700;
      img {
        width: 10%;
      }
    }
    .jobs-listing-btn {
      padding: 0.7rem 1.8rem;
      background-color: #5E8E3D;
      color: #fff;
      border: none;
      font-weight: 700;
      font-size: 0.9rem;
      border-radius: 0.6rem;
      margin-left: 0.4rem;
    }
    .jobs-listing-content {
      h4, p {
        color: #0F1116;
        text-align: left;
      }
      h4 {
        font-weight: 600;
        font-size: 1.8rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      p {
        font-weight: 400;
      }
    }
  }
}
