@import "vars";
@import "reset";
@import "general";
@import "home";
@import "jobs";
@import "hero";


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
}


body {
   background-color: lightgoldenrodyellow;
   font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.flex {
    display: flex;
}

.jcb {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}
.aic {
    align-items: center;
}

.text-center {
    align-items: center;
}

.upper {
    text-transform: uppercase;
}

.card{
    display: grid;
    align-content: space-between;
    max-width: 300px;
    height: 300px;
    // background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../media/lisbon.jpg) center center no-repeat;
    
    background-size: cover;
    border-radius: .5rem;
    
    color:white;
    position: relative;
    
     
     
    .popularity {
        display: inline-block;
        background-color: #fff;
        padding: .3rem;
        border-radius: .3rem;
        font-size: .7rem;
        font-weight: 500;
        color: black;
    }
    .connectivity {
        // background-color: navy;
        i {
            margin-right: .3rem;
        }
        .data-speed {
            .speed {
               font-size: 1.3rem;
               font-weight: 600;
               margin-bottom: .2rem;
            }
            small {
                font-size: .8rem;
            }
        }
    }
    
    .place-details {
        justify-self: center;
        h3 {
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: 0;
        }
    }

    .footer {
        // background-color: navy;

        .climate {
            // background-color: red;
            i {
                margin-right: .4rem;
            }
            .temperature {
                small {
                    font-size: .7rem;
                }
                span {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            }

            .emoji {
                span {
                margin: 0 .3rem;
                }
            }

            .aqi {
                small {
                    font-size: .7rem;
                }
            }

            
            
        }
        .expense {

            h5 {
                font-size: 1.2rem;
                font-weight: 600;
            }

            h5::before {
                content: "$";
            }

            h5::after {
                content: "/ mo";
                font-size: 1rem;
                margin-left: .3rem;
            }
        }
    }

    // &:hover .footer {
    //     display: none;
    // }

    // &:hover .place-details {
    //     display: none;
    // }

    // &:hover header {
    //     display: none;
    // }

    

    
}

