@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.flex-100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.flex-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.flex-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.text-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.widthFull {
  width: 100%;
}

.font0 {
  font-size: 0;
}

.btn {
  display: inline;
  cursor: pointer;
}

.btn-primary {
  background-color: #f84541;
  color: #fff;
  padding: .8rem;
  border-radius: .4rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary:hover {
  border: 1px solid #f84541;
  background-color: transparent;
  color: #f84541;
}

.btn-secondary {
  background-color: #fff;
  font-weight: 600;
  padding: .5rem;
  border-radius: .4rem;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  max-width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: .5rem;
  padding: .5rem .8rem;
  color: white;
  position: relative;
}

.card .overlay {
  display: none;
}

.card .popularity {
  display: inline-block;
  background-color: #fff;
  padding: .3rem;
  border-radius: .3rem;
  font-size: .7rem;
  font-weight: 500;
  color: black;
}

.card .popularity:hover {
  background-color: #f84541;
  color: #fff;
}

.card .connectivity i {
  margin-right: .3rem;
}

.card .connectivity .data-speed .speed {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: .2rem;
}

.card .connectivity .data-speed small {
  font-size: .8rem;
}

.card .place-details {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.card .place-details h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.card .footer .climate i {
  margin-right: .4rem;
}

.card .footer .climate .temperature small {
  font-size: .7rem;
}

.card .footer .climate .temperature span {
  font-size: 1.3rem;
  font-weight: 600;
}

.card .footer .climate .emoji span {
  margin: 0 .3rem;
}

.card .footer .climate .aqi small {
  font-size: .7rem;
}

.card .footer .expense h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.card .footer .expense h5::before {
  content: "$";
}

.card .footer .expense h5::after {
  content: "/ mo";
  font-size: 1rem;
  margin-left: .3rem;
}

.popUpContainer {
  position: fixed;
  top: 2rem;
  left: 3rem;
  right: 3rem;
  width: 90%;
  border-radius: .5rem;
  background-color: #fff;
  margin: 0 auto;
  z-index: 100;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.popUpContainer header {
  height: 220px;
  text-align: center;
  padding: 1rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.popUpContainer header h2 {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
}

.popUpContainer header h5 {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 1.8rem;
}

.popUpContainer header .headerBottom {
  margin-top: 1.5rem;
  color: #e6e1e1;
  font-size: .8rem;
}

.popUpContainer header .headerBottom span {
  cursor: pointer;
}

.popUpContainer header .headerBottom span i {
  margin: 0 .3rem;
  cursor: default;
}

.popUpContainer header .closeBtn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: .8rem;
}

.popUpContainer .data-container header {
  height: 3rem;
  border-bottom: 1px solid lightgray;
}

.popUpContainer .data-container header a {
  font-weight: 600;
  display: inline-block;
  padding-bottom: 2rem;
}

.popUpContainer .data-container header a:hover {
  border-bottom: 2px solid red;
}

.popUpContainer .data-container header a .active {
  border-bottom: 2px solid red;
}

.popUpContainer .data-container .dataBody {
  padding: 1rem;
}

.popUpContainer .data-container .dataBody .boxOne {
  margin-right: 1.5rem;
  border-right: 1px solid lightgray;
  padding-right: 1.5rem;
}

.popUpContainer .data-container .dataBody .row {
  margin: .5rem 0;
}

.popUpContainer .data-container .dataBody h6 {
  font-weight: 600;
}

.popUpContainer .data-container .dataBody h6 span {
  margin-right: .5rem;
}

.popUpContainer .data-container .dataBody .percentage {
  height: 2rem;
  width: 15rem;
  background-color: lightgray;
  border-radius: .3rem;
  color: #fff;
  position: relative;
}

.popUpContainer .data-container .dataBody .percentage span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popUpContainer .data-container .dataBody .percentage div {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: .3rem;
}

.popUpContainer footer {
  background-color: #f1f1f1;
  text-align: center;
  font-size: .8rem;
  margin-top: 1rem;
  padding: 3rem 0;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.jobs-body {
  background-color: #f9f9f9;
  padding: 5rem 0;
}

.jobs-h2, .jobs-li, .jobs-banner {
  text-align: center;
}

.jobs-h2 {
  font-size: 3.5rem;
  color: #FE4641;
  font-weight: 700;
}

.jobs-li {
  margin: 0 0.8rem;
}

.jobs-li a {
  text-transform: uppercase;
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 2rem;
}

.jobs-banner {
  margin-top: 2rem;
}

.jobs-banner .jobs-banner-heading {
  padding: 1.4rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  max-width: 1040px;
}

.jobs-banner .jobs-banner-heading a {
  color: #0F1116;
  font-weight: 700;
}

.jobs-banner .jobs-banner-heading a span {
  text-decoration: underline;
}

.jobs-banner .jobs-banner-heading .jobs-btn {
  padding: 0.7rem;
  background-color: #FE4641;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
}

.jobs-partners-text {
  margin-right: 1rem;
  font-size: 0.6rem;
  color: gray;
}

.partners-logos img {
  margin-top: 2rem;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(80);
          filter: grayscale(80);
}

.jobs-listing {
  margin-top: 2rem;
}

.jobs-listing .jobs-listing-heading-one {
  padding: 1.4rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  max-width: 1040px;
  background-color: #c9c8c8;
}

.jobs-listing .jobs-listing-heading-one a {
  color: #0F1116;
  font-weight: 700;
}

.jobs-listing .jobs-listing-heading-one a img {
  width: 10%;
}

.jobs-listing .jobs-listing-heading-one .jobs-listing-btn {
  padding: 0.7rem 1.8rem;
  background-color: #5BC6C6;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
}

.jobs-listing .jobs-listing-heading-one .jobs-listing-content h4, .jobs-listing .jobs-listing-heading-one .jobs-listing-content p {
  color: #0F1116;
  text-align: left;
}

.jobs-listing .jobs-listing-heading-one .jobs-listing-content h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jobs-listing .jobs-listing-heading-one .jobs-listing-content p {
  font-weight: 400;
}

.jobs-listing .jobs-listing-heading-two {
  padding: 1.4rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  max-width: 1040px;
  background-color: #e2d5cf;
}

.jobs-listing .jobs-listing-heading-two a {
  color: #0F1116;
  font-weight: 700;
}

.jobs-listing .jobs-listing-heading-two a img {
  width: 10%;
}

.jobs-listing .jobs-listing-heading-two .jobs-listing-btn {
  padding: 0.7rem 1.8rem;
  background-color: #F26626;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
}

.jobs-listing .jobs-listing-heading-two .jobs-listing-content h4, .jobs-listing .jobs-listing-heading-two .jobs-listing-content p {
  color: #0F1116;
  text-align: left;
}

.jobs-listing .jobs-listing-heading-two .jobs-listing-content h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jobs-listing .jobs-listing-heading-two .jobs-listing-content p {
  font-weight: 400;
}

.jobs-listing .jobs-listing-heading-three {
  padding: 1.4rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  max-width: 1040px;
  background-color: #79DBF2;
}

.jobs-listing .jobs-listing-heading-three a {
  color: #0F1116;
  font-weight: 700;
}

.jobs-listing .jobs-listing-heading-three a img {
  width: 10%;
}

.jobs-listing .jobs-listing-heading-three .jobs-listing-btn {
  padding: 0.7rem 1.8rem;
  background-color: black;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
}

.jobs-listing .jobs-listing-heading-three .jobs-listing-content h4, .jobs-listing .jobs-listing-heading-three .jobs-listing-content p {
  color: #0F1116;
  text-align: left;
}

.jobs-listing .jobs-listing-heading-three .jobs-listing-content h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jobs-listing .jobs-listing-heading-three .jobs-listing-content p {
  font-weight: 400;
}

.jobs-listing .jobs-listing-heading-four {
  padding: 1.4rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  max-width: 1040px;
  background-color: #fff;
}

.jobs-listing .jobs-listing-heading-four a {
  color: #0F1116;
  font-weight: 700;
}

.jobs-listing .jobs-listing-heading-four a img {
  width: 10%;
}

.jobs-listing .jobs-listing-heading-four .jobs-listing-btn {
  padding: 0.7rem 1.8rem;
  background-color: #5E8E3D;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
}

.jobs-listing .jobs-listing-heading-four .jobs-listing-content h4, .jobs-listing .jobs-listing-heading-four .jobs-listing-content p {
  color: #0F1116;
  text-align: left;
}

.jobs-listing .jobs-listing-heading-four .jobs-listing-content h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jobs-listing .jobs-listing-heading-four .jobs-listing-content p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.page-header {
  padding: 0.6rem 0;
  background-color: none;
  position: absolute;
  top: .5rem;
  width: 100%;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .logo-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .logo-wrap i {
  color: #fff;
}

.nav-menu .logo-container {
  width: 3rem;
}

.nav-menu .logo-container img {
  width: 100%;
}

.sub-menu-box {
  position: relative;
}

.sub-menu-box i {
  font-size: 1rem;
  color: #081c36;
}

.sub-menu-box .dots-container i {
  font-size: 3rem;
  color: white;
}

.sub-menu-box .sub-menu {
  position: absolute;
  background-color: aliceblue;
  width: 20rem;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  left: 10rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: none;
  top: 4.3rem;
  z-index: 99;
  border-radius: 7px;
}

.sub-menu-box .sub-menu li {
  padding: 1rem;
  text-align: start;
  border-bottom: 0.5px solid #d1cfcf;
}

.sub-menu-box .sub-menu li:last-child {
  border-bottom: none;
}

.sub-menu-box .sub-menu li a {
  font-size: 1.2rem;
  color: #202020;
}

.sub-menu-box .sub-menu li a:hover {
  color: crimson;
}

.sub-menu-box .sub-menu-2 {
  top: 3.5rem;
  left: 9rem;
}

.sub-menu::before {
  content: "";
  height: 2rem;
  width: 2rem;
  background-color: aliceblue;
  position: absolute;
  z-index: -99;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -1rem;
  left: 2.8%;
}

.sub-menu-2::before {
  left: 7.8%;
}

.sub-menu-box:hover .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sub-menu-box:hover .sub-menu-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bars, #toggle {
  display: none;
}

.search-container {
  width: 30%;
  height: 3rem;
  border-radius: 2rem;
  background: white;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.search-container input {
  width: 100%;
  outline: none;
  border: none;
  height: 100%;
  font-size: 1rem;
}

.hero {
  height: 80vh;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: lightgoldenrodyellow;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper {
  text-transform: uppercase;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  max-width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: .5rem;
  padding: 1rem;
  color: white;
  position: relative;
}

.card .overlay {
  display: none;
}

.card .popularity {
  display: inline-block;
  background-color: #fff;
  padding: .3rem;
  border-radius: .3rem;
  font-size: .7rem;
  font-weight: 500;
  color: black;
}

.card .connectivity i {
  margin-right: .3rem;
}

.card .connectivity .data-speed .speed {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: .2rem;
}

.card .connectivity .data-speed small {
  font-size: .8rem;
}

.card .place-details {
  -ms-grid-column-align: center;
      justify-self: center;
}

.card .place-details h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.card .footer .climate i {
  margin-right: .4rem;
}

.card .footer .climate .temperature small {
  font-size: .7rem;
}

.card .footer .climate .temperature span {
  font-size: 1.3rem;
  font-weight: 600;
}

.card .footer .climate .emoji span {
  margin: 0 .3rem;
}

.card .footer .climate .aqi small {
  font-size: .7rem;
}

.card .footer .expense h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.card .footer .expense h5::before {
  content: "$";
}

.card .footer .expense h5::after {
  content: "/ mo";
  font-size: 1rem;
  margin-left: .3rem;
}
/*# sourceMappingURL=style.css.map */