@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.flex-100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.flex-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.flex-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

a {
  text-decoration: none;
}

.text-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.widthFull {
  width: 100%;
}

.font0 {
  font-size: 0;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  max-width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: .5rem;
  padding: .5rem .8rem;
  color: white;
  position: relative;
}

.card .overlay {
  display: none;
}

.card .popularity {
  display: inline-block;
  background-color: #fff;
  padding: .3rem;
  border-radius: .3rem;
  font-size: .7rem;
  font-weight: 500;
  color: black;
}

.card .connectivity i {
  margin-right: .3rem;
}

.card .connectivity .data-speed .speed {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: .2rem;
}

.card .connectivity .data-speed small {
  font-size: .8rem;
}

.card .place-details {
  -ms-grid-column-align: center;
      justify-self: center;
}

.card .place-details h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.card .footer .climate i {
  margin-right: .4rem;
}

.card .footer .climate .temperature small {
  font-size: .7rem;
}

.card .footer .climate .temperature span {
  font-size: 1.3rem;
  font-weight: 600;
}

.card .footer .climate .emoji span {
  margin: 0 .3rem;
}

.card .footer .climate .aqi small {
  font-size: .7rem;
}

.card .footer .expense h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.card .footer .expense h5::before {
  content: "$";
}

.card .footer .expense h5::after {
  content: "/ mo";
  font-size: 1rem;
  margin-left: .3rem;
}

.card:hover .footer {
  display: none;
}

.card:hover .place-details {
  display: none;
}

.card:hover header {
  display: none;
}

.card:hover .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  height: 0;
  background-color: red;
}

.jobs-body {
  background-color: #f9f9f9;
  padding: 5rem 0;
}

.jobs-h2, .jobs-li, .jobs-banner {
  text-align: center;
}

.jobs-h2 {
  font-size: 3.5rem;
  color: #FE4641;
  font-weight: 700;
}

.jobs-li {
  margin: 0 0.8rem;
}

.jobs-li a {
  text-transform: uppercase;
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 2rem;
}

.jobs-banner {
  margin-top: 2rem;
}

.jobs-banner .jobs-banner-heading {
  padding: 1.4rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  max-width: 1040px;
}

.jobs-banner .jobs-banner-heading a {
  color: #0F1116;
  font-weight: 700;
}

.jobs-banner .jobs-banner-heading a span {
  text-decoration: underline;
}

.jobs-banner .jobs-banner-heading .jobs-btn {
  padding: 0.7rem;
  background-color: #FE4641;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
}

.jobs-partners-text {
  margin-right: 1rem;
  font-size: 0.6rem;
  color: gray;
}

.partners-logos img {
  margin-top: 2rem;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(80);
          filter: grayscale(80);
}

.jobs-listing {
  margin-top: 2rem;
}

.jobs-listing .jobs-listing-heading-one {
  padding: 1.4rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  max-width: 1040px;
  background-color: #c9c8c8;
}

.jobs-listing .jobs-listing-heading-one a {
  color: #0F1116;
  font-weight: 700;
}

.jobs-listing .jobs-listing-heading-one a img {
  width: 10%;
}

.jobs-listing .jobs-listing-heading-one .jobs-listing-btn {
  padding: 0.7rem 1.8rem;
  background-color: #5BC6C6;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
}

.jobs-listing .jobs-listing-heading-one .jobs-listing-content h4, .jobs-listing .jobs-listing-heading-one .jobs-listing-content p {
  color: #0F1116;
  text-align: left;
}

.jobs-listing .jobs-listing-heading-one .jobs-listing-content h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jobs-listing .jobs-listing-heading-one .jobs-listing-content p {
  font-weight: 400;
}

.jobs-listing .jobs-listing-heading-two {
  padding: 1.4rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  max-width: 1040px;
  background-color: #e2d5cf;
}

.jobs-listing .jobs-listing-heading-two a {
  color: #0F1116;
  font-weight: 700;
}

.jobs-listing .jobs-listing-heading-two a img {
  width: 10%;
}

.jobs-listing .jobs-listing-heading-two .jobs-listing-btn {
  padding: 0.7rem 1.8rem;
  background-color: #F26626;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
}

.jobs-listing .jobs-listing-heading-two .jobs-listing-content h4, .jobs-listing .jobs-listing-heading-two .jobs-listing-content p {
  color: #0F1116;
  text-align: left;
}

.jobs-listing .jobs-listing-heading-two .jobs-listing-content h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jobs-listing .jobs-listing-heading-two .jobs-listing-content p {
  font-weight: 400;
}

.jobs-listing .jobs-listing-heading-three {
  padding: 1.4rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  max-width: 1040px;
  background-color: #79DBF2;
}

.jobs-listing .jobs-listing-heading-three a {
  color: #0F1116;
  font-weight: 700;
}

.jobs-listing .jobs-listing-heading-three a img {
  width: 10%;
}

.jobs-listing .jobs-listing-heading-three .jobs-listing-btn {
  padding: 0.7rem 1.8rem;
  background-color: black;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
}

.jobs-listing .jobs-listing-heading-three .jobs-listing-content h4, .jobs-listing .jobs-listing-heading-three .jobs-listing-content p {
  color: #0F1116;
  text-align: left;
}

.jobs-listing .jobs-listing-heading-three .jobs-listing-content h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jobs-listing .jobs-listing-heading-three .jobs-listing-content p {
  font-weight: 400;
}

.jobs-listing .jobs-listing-heading-four {
  padding: 1.4rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  max-width: 1040px;
  background-color: #fff;
}

.jobs-listing .jobs-listing-heading-four a {
  color: #0F1116;
  font-weight: 700;
}

.jobs-listing .jobs-listing-heading-four a img {
  width: 10%;
}

.jobs-listing .jobs-listing-heading-four .jobs-listing-btn {
  padding: 0.7rem 1.8rem;
  background-color: #5E8E3D;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
}

.jobs-listing .jobs-listing-heading-four .jobs-listing-content h4, .jobs-listing .jobs-listing-heading-four .jobs-listing-content p {
  color: #0F1116;
  text-align: left;
}

.jobs-listing .jobs-listing-heading-four .jobs-listing-content h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jobs-listing .jobs-listing-heading-four .jobs-listing-content p {
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */